table{
	border-collapse: collapse;
	border: 2px solid #3333ff;	
}
td{
	border : 2px solid #3333ff;	
	width: 100px;
	height: 60px;
	background-color: #FFFF66;
}
td.first{
	background-color: #3333ff;
	color:white;
}